<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Ezio's Life</h1>
<p>Ezio lived a royal teenage life with his family in florence.When His father and big brother died, he
became the head of the family.His uncle mario trained him about being an assasin, the rules
and the disipline.Ezio wanted to revenge on Rodrigo Borgia, The Head of The Templars.He went to Monterogioni,
the kindom of uncle Mario and kept his mother and sister there.He became friends with Macheavelli,
Bartolomeo, Leonardo da Vinci, Caterina Sforza to defeat Rodrigo Borgia.In 1499, Ezio finally defeated
Rodrigo in Vaticano but did not killed him.He learned that he was a prophet and saw minerva,
a magical women to give message to Desmond.He went back to Monterogioni, finally happy to leave in
peace, but got attacked by Cesare Borgia, The son of Rodrigo.He got shot by Cesare but still managed to escape
Monterogioni, but uncle mario died in the attack.Ezio went to Roma(Rome).He fighted against the borgia and
killed many templars.He finally defeated Cesare borgia in 1509,while he was attacking on Vienna.Ezio
went to constantinople(now Istanbul) to get knowledge about the legendry assasin Altair Ibn La'Had'.He
learned many new things there and finally finded the death body of Altair after 300 years.He finally said
'Requescat in Pace Altair'(Rest in Peace, Altair) to finally offer some peace to death Altair.He decrypted the codex
    a book written by Altair about being an Assasin</p>>
<p>He married.Sofia in Istanbul and Died at the age of 65 in Firenze.</p>
<form action="/blog1/">
    <input type="submit" value="back">
</form>
<form action="/blog3/">
    <input type="submit" value="next">
</form>
</body>
</html>