<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ezio'ss life</title>
</head>
<body>
    {% block content %}

    <p>
        <h1>Brief overview of Ezio Auditore</h1>
        <ul>
        Ezio Auditore da Firenze is the most known character of the Assasins
    Creed Series.He is a fictional character from the italian renaissance.</p></ul>
    <h1>Ezio's Birth</h1>
    <p>Ezio was Born on 1479 at firenze(now florence).His father was Giovanni Auditore, an
    accountant and a secret assasin.He was the second child of giovanni.He was from a wealthy
    family.Until he was 17, he didn't had any tension and lived a happy life with his family , until
    his father and big brother had been hanged due to Rodrigo Borgia.</p>
    <h1>Ezio's appereance in Assasin's Creed</h1>
    <p>Ezio has been a main character in 3 games, Assasin's Creed 2(2009), Assasin's
    Creed Brotherhood(2010) and Assasins creed Reveleations(2011)</p>
    <form action="/blog2">
        <input type="submit" value="next page">
    </form>
    {% endblock %}

</body>
</html>