<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ezio</title>
</head>
<body>
<h1>Ezio's Teachings</h1>
<p>Ezio always stayed cool in the worst of the conditions.He never paniced over any situations.
He always lived for his family.Event he reason for him being an Assasin was the Revenge of his father
and little brother.Even after that, he spared Rodrigo's Life knowing that killing Rodrigo would not
bring back his family.He always respeccted his enemy's and always said 'Requescat in Pace' after
killing them.He always on the side of the citizens and their problems.He reconstructed Roma in retturn
of nothing.He retired from being an assasin only due to minerva, who told Ezio about Desmond and
the apocalypse.He toiled all his life for the assasin brotherhood.</p>
<form action="/blog2">
    <input type="submit" value="back">
</form>
</body>
</html>